<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
        <style>
                @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
              </style>

    <title>Document</title>
</head>
<body>
    <div class="intro">
        <h1>DATA<span class = "Analytics"></span>ANALYTICS</h1>
        <h3>Global Wealth Divide: A Comprehensive Study of Income Inequality Across the World</h3>
        <div class="list">
            <table>
                <tr><th>Team ID  </th><th class="sec">NM2023TMID00064</th></tr><tr><td>Team Leader  </td><td class="sec">KAJENDIRAN S  </td></tr><tr><td>Team Member1</td><td class="sec">YOGESHWARAN S  </td></tr><tr><td>Team Member2</td><td class="sec"> DHINAGARAN P </td></tr><tr><td>Team Member3</td><td class="sec">SHRUTI S</td></tr>
            </table>
        </div>
    </div>
    <div class="dashboard">
        <h2>DASHBOARD</h2>
        <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FNM%2Bdashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model000001882f119384_00000002" width="1200" height="800" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
    <div class="report">
        <h2>STORY</h2>
        <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FNM_Story&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=model000001882ff518f7_00000002&amp;sceneTime=0" width="1200" height="800" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
    <div class="story">
        <h2>REPORT</h2>
        <iframe src="https://us3.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2FNM%2Bactive%2Breport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;prompt=false" width="1200" height="800" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>

</body>
</html>